@font-face {
    font-family:Roboto-Regular;
    src: url(../font/Roboto-Regular.ttf);
}
@font-face {
    font-family:Poppins-Medium;
    src: url(../font/Poppins-Medium.ttf);
}
@font-face {
    font-family:Poppins-SemiBold;
    src: url(../font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family:DMSerifDisplay-Regular;
    src: url(../font/DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family:Poppins-Regular;
    src: url(../font/Poppins-Regular.ttf);
}
@font-face {
    font-family:PTSerif-Regular;
    src: url(../font/PTSerif-Regular.ttf);
}
@font-face {
    font-family:Rubik-Bold;
    src: url(../font/Rubik-Bold.ttf);
}
@font-face {
    font-family:Rubik-Light;
    src: url(../font/Rubik-Light.ttf);
}
*{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin:0;
}
a { text-decoration: none; 
    display: inline-block;
    color:#696A86;
    &:hover{
        text-decoration: none; 
    }
}

ul,
li{
    list-style: none;
}
.my-container{
    max-width: 1920px;
 margin:0 auto;
 padding: 0 160px 0 0;
}
.max-w{
    max-width: 1920px;
}
button{
text-decoration: none;
border-color: transparent;
}
main{
    overflow: hidden;
}
/*header*/
header{
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(196, 196, 196, 0.1);
}
/*header-inner*/
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0px;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo-img{
    width: 72px;
    height: 72px;
    background: url(../img/logo.png) center no-repeat;
    background-size: cover;
    margin-right: 20px;
}
.logo-text{
    font: 22px Roboto-Regular;
    line-height: 26px;
    color: #505050;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-nav li{
    font:18px Poppins-Medium;
    line-height: 27px;
    color: rgba(113, 119, 132, 1);
}
.my-nav{
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-us{
    font:18px Poppins-SemiBold;
    line-height: 27px;
}
.contact-us2{
    display: none;
    font:14px Poppins-SemiBold;
    line-height: 27px;
}
.button,
.button-1{
    color:rgba(255, 255, 255, 1);
    padding: 16px 66px;
    background: #9B9BCA;
    border-radius: 10px;
    cursor: pointer;
    margin:8px 0;
}

.button:hover,
.button-1:hover{
    background-color: #696A86;
}
/*header-bottom*/
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 22px 0px;
}
.bckgrnd-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    min-height: 737px;
    background:url("../img/background-image.png") center left no-repeat;
     background-size: cover;
    background-color:  #EEEFF1;
}
.bckgrnd-img h1{
    font:56px DMSerifDisplay-Regular;
    line-height: 56px;
    color: #696A86;
    width:550px;
    margin-bottom: 30px;
}
.bckgrnd-img p{
    font:18px Poppins-Regular;
    line-height: 27px;
    color: #696A86;
    max-width: 670px;
}
.get-started{
    font:18px Poppins-Medium;
    line-height: 27px;
}
/*Section-1*/
.section-1{
    width: 100%;
    padding:95px 0 50px;
    margin-bottom: 30px;
}
.section-1-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
}
.section-1-top span{
    display: flow-root;
}
.section-1-top h5{
    font:26px Poppins-Medium;
    line-height: 39px;
    color: #626780;
    text-align: center;
}
.section-1-top p{
    font:18px Poppins-Regular;
    line-height: 40px;
    color: #626780;
    text-align: center;
}
.second-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border:2px solid;
    border-bottom: 7px solid;
    border-color: transparent;
    border-radius: 8px;
    margin-bottom: 20px;
}
.second-logo:hover{
    border:2px solid  #C4C4C4;
    border-bottom: 7px solid  #C4C4C4;
    border-radius: 8px;
}
.section1-img1{
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
    background: url(../img/web-design.png) no-repeat;
    background-size: cover;
}
.section1-img2{
    width: 57px;
    height: 65px;
    margin-bottom: 20px;
    background: url(../img/health-n-study.png) no-repeat;
    background-size: cover;
}
.section1-img3{
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
    background: url(../img/packaging.png) no-repeat;
    background-size: cover;
}
.section1-img4{
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
    background: url(../img/content-writing.png) no-repeat;
    background-size: cover;
}
.second-logo h6{
    font:22px Poppins-Medium;
    line-height: 40px;
    color: #626780;
    margin-bottom: 12px;
    text-align: center;
}
.second-logo p{
    font:16px Poppins-Regular;
    line-height: 20px;
    text-align: center;
    color: #626780;
}
/*Section-2*/
.section-2{
    width: 100%;
    min-height: 580px;
    margin-bottom: 170px;
}
.section-2-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 580px;
}
.section-2-block h5{
    font:26px Poppins-Medium;
    line-height: 39px;
    color: #626780;
}
.section-2-block p{
    font:18px Poppins-Regular;
    line-height: 30px;
    color: #626780;
}
.section-2-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.round{
    position: relative;
    width: 112px;
    height: 112px;
    border: solid #626780;
    border-radius: 50%;
    background-color: #626780;
    margin-left: 250px;
}
.round span{
    display: block;
}
.round p{
    position: absolute;
    font:18px Poppins-Medium;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    left: 16px;
    top: 16px;
}
.section-2-img1{
    position: absolute;
    right: 168px;
    bottom: 193px;
    width: 97px;
    height: 97px;
    background:url(../img/img-1.png) center no-repeat;
}
.section-2-img2{
    position: absolute;
    bottom: 163px;
    left: 132px;
    width: 97px;
    height: 97px;
    background:url(../img/img-2.png) center no-repeat;
}
.section-2-img3{
    position: absolute;
    top: 156px;
    left: 114px;
    width: 97px;
    height: 97px;
    background:url(../img/img-3.png) center no-repeat;
}
.section-2-img4{
    position: absolute;
    top: 129px;
    right: 124px;
    width: 97px;
    height: 97px;
    background:url(../img/img-4.png) center no-repeat;
}
.section-2-img5{
    position: absolute;
    top: 59px;
    right: 335px;
    width: 97px;
    height: 97px;
    background:url(../img/img-5.png) center no-repeat;
}
.section-2-img6{
    position: absolute;
    bottom: 61px;
    right: 213px;
    width: 97px;
    height: 97px;
    background:url(../img/img-6.png) center no-repeat;
}
.vector-1{
    position: absolute;
    right: -82px;
    bottom: 2px;
    z-index: -1;
    width: 473px;
    height: 212px;
    background: url(../img/Vector-1.png) center no-repeat;
}
.vector-2{
    position: absolute;
    right: 35px;
    top: -137px;
    z-index: -1;
    width: 175px;
    height: 323px;
    background: url(../img/Vector-2.png) center no-repeat;
}
.vector-3{
    position: absolute;
    right: -86px;
    bottom: -164px;
    z-index: -1;
    width: 175px;
    height: 323px;
    background: url(../img/Vector-3.png) center no-repeat;
}
/*Section-3*/
.section-3 h3{
    font:48px PTSerif-Regular;
    line-height: 67px;
    color: #402B2B;
}
.section-3 span{
    display: block;
}
/*Section-4*/
.section-4{
    margin-bottom: 250px;
}
.section-4-video{
    position: relative;
}
.round-play{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 0;
    right: 0;
    top:40%;
    margin: 0 auto;
    border: solid #334B76;
    border-radius: 50%;
    background-color: #334B76;
    z-index: 100;
    cursor: pointer;
}
.triangle{
    
    position: absolute;
    left: 69px;
    top: 54px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29.5px 0 29.5px 51.1px;
    border-color: transparent transparent transparent #fff;
    line-height: 0px;
    border-radius: 5px;
}
/*Section-5*/
.section-5{
    margin-bottom: 100px;
}
.section-5-block h4{
    font:48px PTSerif-Regular;
    line-height: 67px;
    color: #402B2B;
    margin-bottom: 100px;
}
.text-block-5 h4{
display: none;
    font:48px PTSerif-Regular;
    line-height: 67px;
    color: #402B2B;
    margin-bottom: 100px;
}
.second-one{
    display: none;
}
.section-5-pic{
    position: relative;
    width: 530px;
    height: 730px;
    margin-top: -115px;
    margin-bottom: -124px;
    background: url(../img/pic.png) center no-repeat;
    background-size: contain;
} 
.section-5-pic::before{
    position: absolute;
    content: '';
    width: 840px;
    height: 840px;
    left: -9px;
    z-index: -100;
    bottom: -70px;
    border-radius: 50%;
    background: rgba(245, 245, 255, 0.8);
}

.my-card-header{
    background-color: #fff !important;
    border-radius: 23px  !important;
    box-shadow: 0px 5px 10px #E0E0E0
}
.my-card-header::after{
    position: absolute;
    content: ''
    ;
}
.my-card{
    border-radius:23px  !important;
    margin-bottom: 12px;
    border-bottom: 1px solid #F5F5FF !important;
    border-left:1px solid #F5F5FF !important;
    border-right:1px solid #F5F5FF !important;
    box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
    background: #F5F5FF;
    border-color: #fff;
}
.my-btn{
    color:black;
}
.my-btn:hover{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.my-btn:focus{
    text-decoration: none;
}
.accordion button:focus {
    box-shadow: none;
    border-color: transparent;
}
.my-btn{
    border-color:transparent;
}
.my-card-body{
    min-height: 150px;
}
/*Section-6*/
.section-6-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}
.load-more{
    display: flex;
    justify-content: center;
    width: 550px;
    height: 90px;
    font:18px Rubik-Bold;
    line-height: 30px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 165px;
}
.section-6 h3{
    font:26px Poppins-Medium;
    line-height: 39px;
    color: #626780;
    margin-bottom: 12px;
}
.section-6 p{
    font:18px Poppins-Regular;
    line-height: 30px;
    text-align: center;
    color: #626780;
}
.section-6 span{
    display: block;
}
/*Section-7*/
.section-7{
    margin-bottom: 60px;
}
.section-7-block{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid #E9E9E9;
    background-color: #fff;
    max-width:442px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:60px 48px 115px;
    margin:0 auto;
}

.section-7-img-customer{
    max-width: 100%;
    height: auto;
    width: 340px;
    height: 150px;
    background: url("../img/customer.png") center no-repeat;
    background-size: cover;
    margin-bottom:53px;
}
.section-7-img-provider{
    max-width: 100%;
    height: auto;
    width: 340px;
    height: 150px;
    background: url("../img/provider.png") center no-repeat;
    background-size: cover;
    margin-bottom:53px;
}
.section-7-block h3{
    font:26px Poppins-Medium;
    line-height: 26px;
    color: #000;
    text-align: center;
    margin-bottom: 22px;
}
.section-7-block p{
    font:18px Poppins-Regular;
    line-height: 30px;
    text-align: center;
    color: #626780;
    width: 346px;
}
.refer-anyone{
position: absolute;
padding:17px 56px;
font:18px Poppins-SemiBold;
line-height: 27px;
color: #FFF;
text-align: center;
bottom:-30px;
}
.refer-anyone:hover{
    background-color: #696A86;
}
.learn-more{
position: absolute;
background-color: #F01F35;
padding:17px 56px;
font:18px Poppins-SemiBold;
line-height: 27px;
color: #FFF;
text-align: center;
bottom:-30px;
}
.learn-more:hover{
    background-color:#AC0008;
}
/*section-8*/
.section-8{
    margin-bottom: 190px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.section-8-img{
    max-width: -webkit-fill-available;
    width: 720px;
    height: 750px;
    background: url(../img/pic-big.png) no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
.pink-circle{
position: absolute;
width: 1030px;
height: 1030px;
background: #FFEDEF;
border-radius: 50%;
z-index: -3;
bottom: 303px;
    right: 229px;
} 
.top-circle{
    position: absolute;
    top: 84px;
    left: 587px;
    width: 261px;
    height: 167px;
    z-index: -3;
    background:url("../img/top.png") center no-repeat;
    background-size: cover;
}
.bottom-circle{
    position: absolute;
    bottom: 92px;
    left: 500px;
    width: 297px;
    height: 176px;
    background:url("../img/bottom.png") center no-repeat;
    background-size: cover;
}
.section-8-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.my-col {
    display: flex;
}
.text-block {
    display: flex;
    align-items: flex-end;
}
.section-8-block h4{
    font:26px Poppins-Medium;
    line-height: 39px;
    color: #626780;
    text-align: center;
    margin: 0 auto;
    margin-top: 64px;
}
.section-8-block p{
font:18px Poppins-Regular;
line-height: 30px;
text-align: center;
color: #626780;
margin-bottom: 100px;
}
.slide p{
color: #9D9D9D;
text-align: start;
margin-bottom: 0;
}
.slide{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
    padding:60px 91px 33px 37px;
    width: 488px;
    margin: 0 auto;
}
.slide-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:45px 0 0;
}
.slide-bottom h6{
 font:18px Poppins-SemiBold;
line-height: 30px;
display: flex;
align-items: center;
color: #626780;
margin-bottom: 0;
}
.slide-bottom p{
    font:16px Poppins-Regular;
    line-height: 30px;
display: flex;
align-items: center;
color: #9D9D9D;
margin-bottom: 0;
}
.slide-img{
    width: 98px;
    height: 98px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 2px 8px 15px rgba(147, 147, 147, 0.25);
    background: url("../img/pic-small.png") center no-repeat;
    background-size: cover;
}
.text{
    margin-left: 48px;
}
.stars{
    width: 84px;
    height: 12px;
    background: url(../img/stars.png) center no-repeat;
    background-size: cover;
    margin-right: 8px;
}
.rating{
display: flex;
justify-content: space-between;
align-items: center;
}
.rating p{
font:12px Poppins-Regular;
line-height: 30px;
display: flex;
align-items: center;
color: #9D9D9D;
}
.slide-round{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #EEE;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 13px;
    cursor: pointer;
}
.slide-round:hover{
    background: #E8E8E8;
}
.slide-round:after{
    content:'';
    position: absolute;
    width: 9px;
    height: 14px;
    right: 22px;
    top: 20px;
    background: url("../img/arrow.png") center no-repeat;
    background-size: cover;
}
/*Section-9*/
.block-9{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-bottom: 110px;
}
.section-9 h2{
font:48px PTSerif-Regular;
line-height: 67px;
color: #402B2B;
max-width: 550px;
margin-bottom: 80px;
}
.section-9-block span a{
   font:18px Poppins-Medium;
line-height :40px;
color: #F23B4E;
text-decoration: none;
}
.section-9-block span a:hover{
    text-decoration: none;
    color:#CF0635;
}
.section-9-block{
    background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
border-radius: 10px;
padding: 107px 135px 54px;
}
#name,#email{
    max-width: 100%;
    width: 400px;
    height: 60px;
    background: #FFFFFF;
border: 1px solid #9595C9;
box-sizing: border-box;
border-radius: 5px;
text-indent: 30px;
    outline: none;
    margin-bottom: 30px;
    font:18px Poppins-Medium;
line-height: 40px;

color: #626780;
}
#name:focus,
#email:focus{
    border: 2px solid #9595C9;
box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
border-radius: 10px;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
}
.sign-in{
font:16px Rubik-Bold;
line-height: 19px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
width:220px;
height: 60px;
margin-bottom: 30px;
}
label{
font:16px Poppins-Regular;
line-height: 40px;
color: #626780;
}
::placeholder{
font:18px Rubik-Light;
line-height: 40px;
color: #9D9D9D;
}
#another_style{
    font:18px Poppins-Regular;
    line-height: 40px;
    color: #626780;
}
/*footer*/
.footer{
    background-color: #fff;
    width: 100%; 
    min-height: 400px;
    overflow: hidden;
    padding-top: 150px;
}
.footer-top {
    position: relative;
    margin-bottom: 101px;
    padding: 0 86px;
}
.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 192px;
    align-items: center;
}
.footer-block h5{
    font:20px Poppins-Medium;
    line-height: 30px;
    color: #FFFFFF;
    text-align:start ;
}
.footer-block ul li a{
    font:16px Poppins-Regular;
    line-height: 24px;
    color: #E6E6E6;
}
.footer-block ul li a:hover{
color:#696A86;
}
.footer-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    margin-bottom: 8px;
}
.footer-bottom p{
    font:16px Rubik-Light;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFF;
    z-index: 100;
    margin-right: 336px;
}
.round-purple{
    position: absolute;
    width: 2240px;
    height: 2240px;
    background: #9B9BCA;
    border-radius: 50%;
    z-index: 0;
    left: -566px;
    top: 48px;
}
.icons{
    display: flex;
    z-index: 100;
}
.facebook{
    width: 36px;
    height: 36px;
    background: url("../img/f.png") center no-repeat;
    background-size: cover;
    cursor: pointer;
}
.twitter{
    width: 36px;
    height: 36px;
    background: url("../img/t.png") center no-repeat;
    background-size: cover;
    cursor: pointer;
}
.instagram{
    width: 36px;
    height: 36px;
    background: url("../img/i.png") center no-repeat;
    background-size: cover;
    cursor: pointer;
}
.logo-footer{
    display: flex;
    z-index: 100;
    cursor: pointer;
}
.logo-footer p{
    font-family:22px Roboto-Regular;
    line-height: 26px;
    color: #FFFFFF;
    margin-right: 0px;
}
.dw{
    width: 52px;
    height: 34px;
    background: url("../img/DW.png") center no-repeat;
    background-size: cover;
    margin-right: 8px;
}
.icon:not(:last-child){margin-right: 32px;}
@media only screen and (max-width: 1200px) {
/*Section-1*/
.second-logo {
    padding: 7px;
}
/*Section-2*/
.section-2-block p {
    font-size: 16px;
    line-height: 28px;
}
.section-2-block h5 {
    font-size: 25px;
    line-height: 32px;
}
.round-purple {
    left: -643px;
    top: 40px;
}
.section-8-block p {
    font-size: 15px;
}
.slide {
    padding: 25px 72px 25px 25px;
    width: 424px;
}
.section-8 {
margin-bottom: 60px;
}
}
@media only screen and (width: 1200px) {
    .round-purple {
        left: -560px;
        top: 40px;
    }
}
@media only screen and (max-width: 992px) {
.header-inner {
    align-items: flex-start;
    }
.my-nav{
    width: 100px;
    }
.my-navbar,
.my-navbar .my-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    }

.my-navbar,
.my-navbar .my-navbar-collapse {
    text-align: center;
    }
    /*header-bottom*/
.bckgrnd-img p{
    max-width: 500px;
    }
    /*Section-1*/
.second-logo {
    padding: 22px;
}
.section-1-top span{
    display:inline;
}
/*Section-2*/
.section-1{
    margin-bottom: 0;
}
.section-2-block {
    justify-content: flex-start;
}
.section-2-block p,h5{
    text-align: center;
}
.section-2-text {
    align-items: center;
    margin-bottom: 280px;
}
.section-2{
    min-height:0px;
    margin-bottom: 250px;
}
.section-2-block{
    min-height: 0px;
}
.round {
    margin-left: 124px;
}
.section-7-block{
    margin-bottom: 64px;
}
.section-5-block h4 {
    text-align: center;
}
.section-5-pic {
    width: 430px;
    height: 590px;
    margin: 0 auto;
    margin-bottom: -124px;
}
.left{
    margin-left: auto; 
}
.right{
    margin-right: auto;
}
.section-9 h2 {
    text-align: center;
    max-width: 100%;
}
.footer-top {
padding:0;
}
.round-purple {
    left: -763px;
    top: 40px;
}
.footer-bottom p {
    margin-right: 124px;
}
.logo-footer p {
    margin-right: 0;
}
.icon:not(:last-child) {
    margin-right: 14px;
}
.section-5-block h4{
display: none;
}
.text-block-5 h4{
    display: inline;
}
.row-reverse{
    display: flex;
    flex-direction: column-reverse;
}
.section-4 {
    margin-bottom: 72px;
}
#headingOne .collapse:not(.show) {
    display: none;
}
.my-card-header{
    z-index: 100;
}

.section-8-img {
    width: 485px;
    height: 485px;
}
.section-8-block p{
    margin-bottom: 44px;
}
.slide p{
    margin-bottom: 0;
}
.slide {
    padding: 25px 72px 16px 25px;
    width: 396px;
}
.slide-bottom h6 {
    font: 15px Poppins-SemiBold;
}
.my-accordion .collapseOne .show{
    display: inherit;
}
.first-one{
    display: none;
}
.second-one{
    display: inherit;
    z-index: 100;
}
.text-block-5 {
    text-align: center;
}
}
@media only screen and (width: 992px) {
    .header-inner {
        align-items: center;
    }
    .my-navbar, .my-navbar .my-nav {
        display: inherit;
    }
    
    .my-nav {
        width: 440px;
    }
    .section-2-text {
        margin-bottom: 0px;
    }
    .section-2{
        margin-bottom: 200px;
    }
    .section-1{
        margin-bottom: 200px;
    }
    .second-logo {
        padding: 7px;
    }
    .images {
        margin-left: 104px;
    }
    .section-5-block h4 {
        text-align: inherit;
    }
    .section-5-pic {
        width: 530px;
        height: 730px;
        margin-top: -115px;
        margin-bottom: -124px;
    }
    .section-5-block h4{
        display: inline;
        font: 48px PTSerif-Regular;
        line-height: 67px;
        color: #402B2B;
        margin-bottom: 100px;
        }
        .text-block-5 h4{
            display: none;
        }
        .row-reverse{
            display: flex;
            flex-direction: row;
        }
        .section-4 {
            margin-bottom: 250px;
        }
        .my-accordion {
            margin-top: 80px;
        }
        .round-purple {
            left: -671px;
            top: 40px;
        }
}
@media only screen and (max-width: 860px) {
.round-play{
    width: 120px;
    height: 120px;
    }
.triangle{
    border-width: 20px 0 20px 34.6px;
    left: 49px;
    top: 38px;
    }
.section-3 h3 {
    font-size: 36px;
}
}
@media only screen and (max-width: 768px) {
     /*header-inner*/
.button {
    padding: 8px 33px;
    border-radius: 5px;
}
.button-1 {
    padding: 14px 46px;
    border-radius: 4px;
}
.contact-us,
.get-started{
    font-size: 16px;
}
/*header-bottom*/
.bckgrnd-img h1 {
    font-size: 44px;
    width: 450px;
}
.bckgrnd-img p {
    font-size: 15px;
    max-width: 370px;
}
/*Section-2*/
.round {
    margin-left: 174px;
}
.round p {
    font-size: 14px;
    left: 24px;
    top: 19px;
}
.load-more {
    width: 300px;
}
.section-9 h2 {
    font-size: 32px;
}
.section-9-block {
    padding: 67px 68px;
}
.round-purple {
    left: -848px;
    top: 81px;
}
.footer-bottom p {
    margin-right: 0;
}
.footer-support {
    padding-top: 0;
}
.footer-get-in-touch {
    padding-top: 0;
}

.footer-address,.footer-services {
    margin-bottom: 220px;
}
.footer-block {
    height: 210px;
    margin-bottom: 23px;
}
.footer-top {
    margin-bottom: 174px;
}
.section-8-img,
.bottom-circle,
.top-circle{
    display: none;
}
.my-container{
    padding: 0 0px 0;
}
.text-block-5 h4 {
    font: 37px PTSerif-Regular;
} 
#name, #email {
    font: 15px Poppins-Medium;
}
}
@media only screen and (width: 768px) {
    .section-8-img-block{
        display: none;
    }
    .my-col {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .round-purple {
        left: -781px;
        top: 81px;
    }
}
@media only screen and (max-width: 620px) {
/*Section-2*/
.img-size{
    width: 77px;
    height: 77px;
    background-size: cover;
}
.round {
    width: 97px;
    height: 97px;
}
.round p{
    left: 19px;
    top: 17px;
}
.vector-1 {
    right: -82px;
    bottom: -15px;
    width: 435px;
}
.vector-1 {
    right: -82px;
    bottom: -55px;
    width: 435px;
    transform: rotate(-25deg);
}
.section-2-img2 {
    bottom: 145px;
    left: 97px;
}
.section-2-img5 {
    top: 86px;
    right: 252px;
}
.section-2-img6 {
    bottom: -10px;
    right: 140px;
}
.section-4 {
    margin-bottom: 116px;
}
.section-9-block {
    padding: 36px 56px;
    border-radius: 24px;
}
label {
    font-size: 15px;
}
#name, #email {
    width: 312px;
    height: 46px;
}
::placeholder{
    font-size:15px;
}
.sign-in {
    font-size: 16px;
}
#another_style{
    font-size:15px;
}
.section-9-block span a {
    font-size: 15px;
}
.round-play {
    width: 96px;
    height: 96px;
}
.triangle {
    border-width: 17px 0 17px 31.6px;
    left: 36px;
    top: 28px;
}

}
@media only screen and (width: 575px) {
    .footer-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        padding-top: 0px;
    }
    .footer-block ul, li {
        display: contents;
    }
    .footer-top {
         margin-bottom: 0px; 
    }
    
}
@media only screen and (max-width: 575px) {
    .footer-address,
    .footer-services {
        margin-bottom: 0px;
    }
.footer-block {
    padding-top: 0px;
    justify-content: center;
}
.round-purple {
    left: -885px;
    top: -44px;
}
.footer-block ul li {
text-align: center;
}
.footer-block h5{
    text-align: center;
}
.help-order{
    order: 4;
}
.learn-order{
    order:1;
}
.social-order{
    order:3;
}
.about-order{
    order:2;
}
.facebook,
.instagram,
.twitter {
    width: 24px;
    height: 24px;
}
.dw {
    width: 40px;
    height: 26px;
}
.logo-footer {
    align-items: flex-start;
}
.footer-top {
    margin-bottom:0;
}
.footer-block {
    margin-bottom: 23px;
}
.logo-text {
    color: #fff;
}
}
@media only screen and (max-width: 555px) {
/*header-inner*/ 
.button {
    padding: 8px 22px;
    border-radius: 4px;
}
.button-1{
    padding: 12px 34px;
    border-radius: 4px;
}
}
@media only screen and (max-width: 535px) {
    /*header-inner*/
.logo-img{
    width: 60px;
    height: 60px;
    }
.logo-text{
    font-size:19px;
    }
.contact-us, .get-started {
    font-size: 14px;
    }
.round-play{
    top:27%;
    width: 100px;
    height: 100px;
        }
.triangle{
    border-width: 15px 0 15px 26.0px;
    left: 40px;
    top: 34px;
}
.section-3 h3 {
    font-size: 28px;
    line-height:40px;
}
.section-7-img-customer,
.section-7-img-provider {
    width: 240px;
    height: 105px;
}
.section-7-block h3 {
    font-size: 21px ;
    width: fit-content;
}
.section-7-block p {
    font-size: 15px;
    width: fit-content;
}
.refer-anyone,
.learn-more {
    font-size: 15px;
}
.section-6-block {
    margin-bottom: 47px;
}
.section-7-block {
    padding: 56px 27px 92px;
}
}
@media only screen and (max-width: 495px) {
/*header-inner*/
.button {
    padding: 8px 16px;
}
/*Section-2*/
.round {
    margin-left: 45px;
    width: 77px;
    height: 77px;
}
.round p {
    font-size: 11px;
    line-height: 18px;
    left:15px;
}
.img-size{
    width: 57px;
    height: 57px;
}
.vector-1 {
    right: -91px;
    bottom: -39px;
    width: 319px;
    transform: rotate(-56deg);
}
.vector-2 {
    right: 35px;
    top: -88px;
    height: 232px;
}
.vector-3 {
    right: -59px;
    bottom: -83px;
    width: 126px;
    height: 136px;
}
.section-2-img1 {
    right: 112px;
    bottom: 130px;
}
.section-2-img2 {
    bottom: 153px;
    left: 68px;
}
.section-2-img6 {
    bottom: -29px;
    right: 90px;
}
.section-2-img5 {
    top: 125px;
    right: 142px;
}
.section-2-img4 {
    top: 121px;
    right: 45px;
}
.section-2-img3 {
    top: 132px;
    left: 91px;
}
.section-2-text {
    margin-bottom: 176px;
}
.section-5-block h4 {
    font-size: 32px;
}
.load-more {
    width: 210px;
    height: 70px;
}
.load-more {
    margin-bottom: 100px;
}
.section-9-block {
    padding: 22px 22px;
}
#name, #email {
    width: 224px;
    height: 37px;
}
.section-9 h2 {
    font-size: 25px;
}
.sign-in {
    font-size: 14px;
    width: 156px;
    height: 47px;
}
#another_style {
    font-size: 13px;
}
.round-purple {
    left: -895px;
    top: -44px;
}
}    
@media only screen and (max-width: 480px) {
/*header-inner*/
.contact-us{
    display:none;
        }
.contact-us2,.get-started{
    display: inline;
    font-size: 13px;
}
.button {
    padding: 5px 8px;
    border-radius: 3px;
}
.my-navbar, .my-navbar .my-navbar-collapse {
    text-align: end;
}
.my-nav li{
    font-size:14px;
}
/*header-bottom*/
.header-bottom{
    margin-top: 60px;
    align-items: center;
}
.bckgrnd-img h1 {
    font-size: 40px;
    text-align: center;
    width: fit-content;
}
.bckgrnd-img p {
    font-size: 14px;
    width: fit-content;
    text-align: center;

}
/*Section-1*/
.section-1-top{
    margin-bottom: 70px;
}
.section-1-top h5{
    font-size:22px;
}
.section-1-top p{
    font-size:14px;
    line-height: 28px;
}
.second-logo h6{
    font-size:20px;
}
.second-logo p{
    font-size:14px;
}     
.section-6 h3 {
    text-align: center;
    font-size: 19px;
}
.section-6 p {
    font-size: 15px;
}
.section-8-block p {
    font-size: 13px;
}
.slide-img {
    width: 72px;
    height: 72px;
}
.slide {
    padding: 25px 67px 16px 25px;
    width: 345px;
}
}
@media only screen and (max-width: 450px) {
    .logo-img {
        width: 50px;
        height: 50px;
        margin-right: 13px;
    }
    .bckgrnd-img h1 {
        font-size: 31px;
    }
    .footer-bottom {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .logo-footer{
        margin-bottom: 56px;
    }
    .icons{
        margin-bottom: 16px; 
    }
    .footer-bottom p{order:1;}
    .footer-bottom .icons{order:3;}
    .footer-bottom .logo-footer{order:2;}
    .round-purple {
        left: -967px;
        top: -44px;
    }
}
@media only screen and (max-width: 410px) {
/*header-bottom*/
.header-bottom{
    margin-top: 80px;
}
.section-3 h3 {
    font-size: 17px;
    line-height: 24px;
}
.section-5-pic {
    width: 300px;
    height: 495px;
}
.section-8-block h4 {
    font: 24px Poppins-Medium;
}
.section-8-block p {
    font-size: 12px;
}
.slide-bottom h6 {
    font: 13px Poppins-SemiBold;
}
.slide-round {
    right: 9px;
    width: 46px;
    height: 46px;

}
.slide-round:after {
    right: 18px;
    top: 15px;
}
.text {
    margin-left: 17px;
}
.slide {
    padding: 20px 60px 16px 19px;

    width: 306px;
}


}